/* fonts */

@font-face {
  font-family: "SamsungSharp";
  src: url("../assets/fonts/samsungsharpsans-medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "SamsungSharp";
  src: url("../assets/fonts/samsungsharpsans-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("../assets/fonts/SamsungOne-400.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* reset */

* {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  max-width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: #8a8a88;
  background-image: url(../assets/images/common/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */

.wrap {
  position: relative;
  max-width: 900px;
  height: 450px;
  overflow: hidden;
  border: 2px solid #000;
}

.carousel {
  display: flex;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 450px;
  background-color: #fff;
  display: flex;
}

.slide-1 {
  background-image: url(../assets/images/1/Image.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 28px 38px;
  transition: all 250ms ease-in-out;
}

.slide-1 .content {
  justify-content: flex-start;
}

.logo {
  margin-bottom: 30px;
}

.headline {
  font-family: "SamsungSharp";
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  transition: transform 500ms ease-in-out;
}

.img-span {
  display: inline;
  margin-right: 6px;
}

.title {
  position: absolute;
  font-family: "SamsungSharp";
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  top: 28px;
  right: 38px;
}

.dynamic-text {
  transition: height 0.2s ease;
}

.qoute {
  display: inline;
  font-family: "SamsungSharp";
  font-weight: medium;
  font-size: 14px;
}

.read-link {
  font-family: "SamsungSharp";
  font-weight: medium;
  font-size: 14px;
  display: inline;
  color: #8a8a88;
  text-align: balance;
}

.img {
  width: 400px;
}

.page {
  font-family: "SamsungSharp";
  font-weight: medium;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  padding: 4px 10px;
  transition: transform 250ms ease-in-out;
}

.nav-btn:hover {
  transform: scale(1.2);
}

.button {
  font-family: "SamsungOne";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #000;
  padding: 13px 29px;
  border-radius: 30px;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;
}

.button:hover {
  transform: scale(1);
}

.prev {
}

.next {
}
